/* Genel sayfa stilini belirle */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

main {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

/* Şu anki hava durumu stilini belirle */
#current-weather {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}

/* Hava durumu tahmini tablosu stilini belirle */
#weather-forecast {
    border: 1px solid #ccc;
    border-radius: 5px;
}

#weather-forecast table {
    width: 100%;
    border-collapse: collapse;
}

#weather-forecast th, #weather-forecast td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}

#weather-forecast th {
    background-color: #333;
    color: #fff;
    font-weight: bold;
}

/* Footer stilini belirle */
footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}
