<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kayıt Başarılı</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='register_successful.css')}}">
</head>
<body>
    <header>
        <h1>Kayıt Başarılı</h1>
        <nav>
            <ul>
                <li><a href="/">Ana Sayfa</a></li>
                <li><a href="/login">Giriş Yap</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="success-message">
            <p>Kayıt başarıyla tamamlandı. Şimdi giriş yapabilirsiniz.</p>
        </section>
    </main>

    <footer>
        <p>serhanayberkkilic - 08/29/2023</p>
    </footer>
</body>
</html>
